<!-- VIDEO WALL INTERACTIVE -->
<div id="vw-interactive" class="vw-interactive">
	<!-- HEADER -->
	<header id="vw-header" class="vw-header vw-container-fluid">
		<!-- BANNER -->
		<div class="vw-header-banner vw-container-fluid vw-header-banner-custom">
			<!-- BANNER TITLE -->
			<div class="vw-header-banner-body">
				<div class="vw-container">
					<div class="vw-container vw-container-constrained">
						<h4 class="vw-header-banner-body-hub"><a href="#">Immigration Hub</a>&nbsp; Dear Australia</h4>
						<h1 class="vw-header-banner-body-title">
							<svg viewBox="0 0 36 23" class="vw-icon vw-icon-inline vw-icon-lg" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.2 0L0 3.3v16.4L3.3 23H22V0H3.2m30.4 1L25 9v5l8.6 8H36V1h-2.4"></path>
							</svg>
							Dear Australia |<br />
							A Guardian video series
						</h1>
					</div>
				</div>
			</div>
			<!-- BANNER TITLE END -->
			<!-- BANNER IMG -->
			<figure class="vw-header-banner-media">
				<img src="https://i.guim.co.uk/img/media/04178840443ca0731d73bcc19aa62bd586897374/0_224_3360_2016/master/3360.jpg?w=1920&q=55&auto=format&usm=12&fit=max&s=8d95122e44c2c74631aa38ced22fbe77" alt="" />
			</figure>
			<!-- BANNER IMG END -->
		</div>
		<!-- BANNER END -->
		<!-- SOCIAL -->
		<div class="vw-header-social vw-container">
			<div class="vw-container vw-container-constrained">
				<!-- SOCIAL SHARE -->
				<ul class="vw-social-sharing vw-list-unstyled">
					<li class="vw-social-sharing-item">
						<a href="#">
							<svg viewBox="-2 -2 32 32" class="vw-icon vw-icon-lg" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
							</svg>
						</a>
					</li>
					<li class="vw-social-sharing-item">
						<a href="#">
							<svg viewBox="-2 -2 32 32" class="vw-icon vw-icon-lg" xmlns="http://www.w3.org/2000/svg">
								<path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path>
							</svg>
						</a>
					</li>
				</ul>
				<!-- SOCIAL SHARE END -->
				<!-- SOCIAL COUNT -->
				<div class="vw-header-social-count">
					<small>
						<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" class="vw-icon vw-icon-inline vw-icon-xs">
							<path d="M10.073 8.4c-.475 0-.906.19-1.225.497L3.54 6.22 3.555 6l-.015-.22 5.308-2.677c.32.308.75.497 1.225.497.982 0 1.778-.806 1.778-1.8S11.056 0 10.074 0 8.295.806 8.295 1.8l.016.233-5.298 2.675c-.32-.313-.755-.507-1.236-.507-.982 0-1.778.807-1.778 1.8s.796 1.8 1.778 1.8c.48 0 .915-.193 1.236-.506l5.3 2.675-.017.232c0 .994.796 1.8 1.778 1.8s1.778-.806 1.778-1.8-.795-1.8-1.777-1.8zm0-7.68c.588 0 1.067.484 1.067 1.08 0 .596-.48 1.08-1.067 1.08S9.006 2.396 9.006 1.8c0-.596.48-1.08 1.067-1.08zm0 10.56c-.588 0-1.067-.484-1.067-1.08 0-.596.48-1.08 1.067-1.08s1.067.484 1.067 1.08c0 .596-.48 1.08-1.067 1.08z"></path>
						</svg>
						&nbsp;Shares
					</small>
					<p>53</p>
				</div>
				<!-- SOCIAL COUNT END -->
			</div>
		</div>
		<!-- SOCIAL END -->
		<!-- STANDFIRST -->
		<div class="vw-header-standfirst vw-container">
			<div class="vw-container vw-container-constrained">
				<!-- STANDFIRST COPY -->
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare hendrerit risus a euismod. Nullam augue erat, ullamcorper et posuere eget, interdum eu ante. Sed tempus arcu eget metus ornare, eu vehicula lorem condimentum. Mauris finibus mi non nisl efficitur sagittis. In metus lectus, euismod vitae dignissim et, rhoncus porta dolor.</p>
				<!-- STANDFIRST COPY END -->
				<hr />
				<!-- STANDFIRST CONTRIBUTORS -->
				<p><a href="#">Contributor Name</a>, <a href="#">Contributor Name</a></p>
				<!-- STANDFIRST CONTRIBUTORS END -->
				<!-- STANDFIRST SUPPORTER -->
				<div class="vw-header-standfirst-supporter">
					<small>Supported by</small>
					<figure class="vw-header-standfirst-supporter-media"><img src="https://www.mauriceblackburn.com.au/img/common/logo-footer-desktop.png" alt="Maurice Blackburn Lawyers" /></figure>
					<small><a href="#">About this content</a></small>
				</div>
				<!-- STANDFIRST SUPPORTER END -->
			</div>
		</div>
		<!-- STANDFIRST END -->
	</header>
	<!-- HEADER END -->
	<!-- BODY -->
	<main id="vw-body" class="vw-body vw-container">
		<!-- VIDEO TILES -->
		<div id="vw-video-tiles" class="vw-video-tiles vw-video-tiles-featured">
			
			<!-- VIDEO TILE -->
			<div class="vw-video-tiles-item">
				<a href="#" class="vw-video-tiles-item-inner inner">
					<figure class="vw-video-tiles-item-media">
						<img src="https://i.guim.co.uk/img/media/41a86621e98ecc8ec6f12ef1950544f82fdfa5d0/0_0_7440_4961/master/7440.jpg?w=700&q=55&auto=format&usm=12&fit=max&s=fee1c05d824a8f49b7d8f023ab8c24d4" alt="" />
					</figure>
					<div class="vw-video-tiles-item-body">
						<h2>Video Item title</h2>
						<div class="vw-video-tiles-item-body-hover">
							<div class="vw-video-button-play"></div>
							<div class="vw-video-duration"></div>
						</div>
					</div>
				</a>
			</div>
			<!-- VIDEO TILE END -->
			<!-- VIDEO TILE -->
			<div class="vw-video-tiles-item">
				<a href="#" class="vw-video-tiles-item-inner inner">
					<figure class="vw-video-tiles-item-media">
						<img src="https://i.guim.co.uk/img/media/a3a1e6f5e659622f32baf7c5197fdb84b2ebff2d/0_0_3514_2338/master/3514.jpg?w=700&q=55&auto=format&usm=12&fit=max&s=fb4fd73eff11316fb60f1a59de5922dc" alt="" />
					</figure>
					<div class="vw-video-tiles-item-body">
						<h2>Video Item title</h2>
						<div class="vw-video-tiles-item-body-hover">
							<div class="vw-video-button-play"></div>
							<div class="vw-video-duration"></div>
						</div>
					</div>
				</a>
			</div>
			<!-- VIDEO TILE END -->
			<!-- VIDEO TILE -->
			<div class="vw-video-tiles-item">
				<a href="#" class="vw-video-tiles-item-inner inner">
					<figure class="vw-video-tiles-item-media">
						<img src="https://i.guim.co.uk/img/media/18aaf5fd8a085e9c8a41a656bd88c2fb34433e90/0_0_5131_3421/master/5131.jpg?w=700&q=55&auto=format&usm=12&fit=max&s=a779a4d8034dcdbf9a1df9951433839e" alt="" />
					</figure>
					<div class="vw-video-tiles-item-body">
						<h2>Video Item title</h2>
						<div class="vw-video-tiles-item-body-hover">
							<div class="vw-video-button-play"></div>
							<div class="vw-video-duration"></div>
						</div>
					</div>
				</a>
			</div>
			<!-- VIDEO TILE END -->
			<!-- VIDEO TILE -->
			<div class="vw-video-tiles-item">
				<a href="#" class="vw-video-tiles-item-inner inner">
					<figure class="vw-video-tiles-item-media">
						<img src="https://i.guim.co.uk/img/media/3005552287081d566b2b55e5502789de9c758115/0_0_4928_3280/master/4928.jpg?w=700&q=55&auto=format&usm=12&fit=max&s=69097d785cba37f4199701f3a6312a6c" alt="" />
					</figure>
					<div class="vw-video-tiles-item-body">
						<h2>Video Item title</h2>
						<div class="vw-video-tiles-item-body-hover">
							<div class="vw-video-button-play"></div>
							<div class="vw-video-duration"></div>
						</div>
					</div>
				</a>
			</div>
			<!-- VIDEO TILE END -->
			<!-- VIDEO TILE -->
			<div class="vw-video-tiles-item">
				<a href="#" class="vw-video-tiles-item-inner inner">
					<figure class="vw-video-tiles-item-media">
						<img src="https://i.guim.co.uk/img/media/f3862e2884ffa9101e110b4bf713d28d5ee8eed4/0_0_4080_2675/master/4080.jpg?w=700&q=55&auto=format&usm=12&fit=max&s=3508c648085c942cd6b97660af189f6b" alt="" />
					</figure>
					<div class="vw-video-tiles-item-body">
						<h2>Video Item title</h2>
						<div class="vw-video-tiles-item-body-hover">
							<div class="vw-video-button-play"></div>
							<div class="vw-video-duration"></div>
						</div>
					</div>
				</a>
			</div>
			<!-- VIDEO TILE END -->
			<!-- VIDEO TILE -->
			<div class="vw-video-tiles-item">
				<a href="#" class="vw-video-tiles-item-inner inner">
					<figure class="vw-video-tiles-item-media">
						<img src="https://i.guim.co.uk/img/media/669effdf4c16285e405093a6c4b312f242291637/0_0_6987_3315/master/6987.jpg?w=700&q=55&auto=format&usm=12&fit=max&s=3e6e25e4b761a64052e3cf9ff4c4b942" alt="" />
					</figure>
					<div class="vw-video-tiles-item-body">
						<h2>Video Item title</h2>
						<div class="vw-video-tiles-item-body-hover">
							<div class="vw-video-button-play"></div>
							<div class="vw-video-duration"></div>
						</div>
					</div>
				</a>
			</div>
			<!-- VIDEO TILE END -->

		</div>
		<!-- VIDEO TILES END -->
	</main>
	<!-- BODY END -->
	<!-- FOOTER -->
	<footer id="vw-footer" class="vw-footer vw-container">
		<!-- FOOTER TITLE -->
		<h3 class="vw-footer-title">read more from this series</h3>
		<!-- FOOTER TITLE END -->
		<!-- FOOTER ARTICLES -->
		<div class="vw-article-tiles">
			<!-- FOOTER ARTICLE ITEM -->
			<a href="#" class="vw-article-tiles-item">
				<div class="vw-article-tiles-item-media">
					<figure>
						<img src="/" alt="" />
					</figure>
				</div>
				<div class="vw-article-tiles-item-body">
					<h2>Article Item title</h2>
				</div>
			</a>
			<!-- FOOTER ARTICLE ITEM END -->
		</div>
		<!-- FOOTER ARTICLES END -->
		<!-- FOOTER BRANDING -->
		<div class="vw-footer-branding">
			<div class="vw-container-left">
				<p><small>&copy; 2016 Guardian News and Media Limited or its affiliated companies. All rights reserved.</small></p>
			</div>
			<div class="vw-container-right">

			</div>
		</div>
		<!-- FOOTER BRANDING END -->
	</footer>
	<!-- FOOTER END -->
	<!-- VIDEO MODAL -->
	<div class="vw-modal vw-container">
		<div class="vw-modal-inner">
			<!-- MODAL CLOSE -->
			<a href="#" class="vw-modal-close vw-modal-control">X</a>
			<!-- MODAL CLOSE END -->
			<!-- MODAL TITLE -->
			<div class="vw-modal-title">
				<h4 class="vw-header-banner-body-hub"><span>Hub</span> Name</h4>
				<h2 class="vw-header-banner-body-title">Video Title</h2>
			</div>
			<!-- MODAL TITLE END -->
			<!-- MODAL VIDEO -->
			<figure class="vw-video-container">
				<video class="vjs-tech" 
					data-title="#Canhesaythat? Calling out moments that make women feel uneasy at work – video" 
					data-auto-play="true" 
					data-show-end-slate="true" 
					poster="https://i.guim.co.uk/img/media/acf4010e5d104857013030396810fffc26edab9f/0_52_3543_2126/3543.jpg?w=640&amp;h=360&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=75df10894f932fae4ff5e5cb17c80bfe" 
					data-duration="89" 
					data-media-id="gu-video-5770a62ee4b030d83eb4a8d0" 
					data-end-slate="/video/end-slate/series/sustainable-business/series/social-equality.json?shortUrl=http://gu.com/p/4myqh" 
					data-block-video-ads="false" 
					data-embeddable="false" 
					preload="metadata" 
					id="vjs_video_3_html5_api" 
					aria-hidden="true">
					<source src="https://cdn.theguardian.tv/HLS/2016/06/27/160624canhesaythat.m3u8" type="video/m3u8">
					<source src="https://cdn.theguardian.tv/mainwebsite/2016/06/27/160624canhesaythat_desk.mp4" type="video/mp4">
					<source src="https://cdn.theguardian.tv/3gp/large/2016/06/27/160624canhesaythat_large.3gp" type="video/3gp:large">
					<source src="https://cdn.theguardian.tv/3gp/small/2016/06/27/160624canhesaythat_small.3gp" type="video/3gp:small">
					<source src="https://cdn.theguardian.tv/webM/2016/06/27/160624canhesaythat_synd_768k_vp8.webm" type="video/webm">
					<object type="application/x-shockwave-flash" data="https://assets.guim.co.uk/flash/components/mediaelement/7c5b6df9c2993d7ed62d87361c4651f6/flashmediaelement-cdn.swf" width="640" height="640">
						<param name="allowFullScreen" value="true">
						<param name="movie" value="https://assets.guim.co.uk/flash/components/mediaelement/f70092081235f698081e268fecea95e4/flashmediaelement.swf">
						<param name="flashvars" value="controls=true&amp;file=https://cdn.theguardian.tv/mainwebsite/2016/06/27/160624canhesaythat_desk.mp4&amp;poster=https://i.guim.co.uk/img/media/acf4010e5d104857013030396810fffc26edab9f/0_52_3543_2126/3543.jpg?w=640&amp;h=360&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=75df10894f932fae4ff5e5cb17c80bfe">
						<img src="https://i.guim.co.uk/img/media/acf4010e5d104857013030396810fffc26edab9f/0_52_3543_2126/3543.jpg?w=640&amp;h=360&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=75df10894f932fae4ff5e5cb17c80bfe" alt="" width="640" height="640">
						<div class="vjs-error-display">
							<div>
								Sorry, your browser is unable to play this video.<br>
								Please install <a href="http://get.adobe.com/flashplayer/">Adobe Flash</a>™ and try again.
								Alternatively <a href="http://whatbrowser.org/">upgrade</a> to a modern browser.\
							</div>
						</div>
					</object>
				</video>
			</figure>
			<!-- MODAL VIDEO END -->
			<!-- MODAL BODY -->
			<div class="vw-modal-body">
				<!-- DESCRIPTION -->
				<div class="vw-container-left">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare hendrerit risus a euismod. Nullam augue erat, ullamcorper et posuere eget, interdum eu ante. Sed tempus arcu eget metus ornare, eu vehicula lorem condimentum. Mauris finibus mi non nisl efficitur sagittis. In metus lectus, euismod vitae dignissim et, rhoncus porta dolor.</p>
				</div>
				<!-- DESCRIPTION END -->
				<!-- SOCIAL SHARE -->
				<div class="vw-container-right">
					<ul class="vw-social-sharing vw-list-unstyled">
						<li class="vw-header-social-sharing-item twitter"><a href="#">F</a></li>
						<li class="vw-header-social-sharing-item facebook"><a href="#">T</a></li>
					</ul>
				</div>
				<!-- SOCIAL SHARE END -->
			</div>
			<!-- MODAL BODY END -->
			<!-- MODAL PAGER -->
			<div class="vw-modal-pager">
				<a href="#" class="vw-modal-next vw-modal-control">></a>
				<a href="#" class="vw-modal-prev vw-modal-control"><</a>
			</div>
			<!-- MODAL PAGER END -->
		</div>
	</div>
	<div class="vw-modal-overlay vw-container"></div>
	<!-- VIDEO MODAL END -->
</div>
<!-- VIDEO WALL INTERACTIVE END -->