/* GUSS WEBFONTS - DEV ONLY */

/**
 * Base URL
 * HTTP path or url where the browser will look for fonts
 * URL can be an absolute HTTP (`//pasteup.guim.co.uk/fonts/`) or relative (`../`)
 */

// if you use an asset domain, you would set it to:
// $guss-webfonts-base-url: '//assets.yourdomain.com/path/to/guss-webfonts';
$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

/**
 * Charset
 *
 * - ascii: 256 characters only, very small
 * - latin1: latin 1 character set
 * - original: full character set
 */
$guss-webfonts-charset: 'original';

/**
 * Hinting
 *
 * - cleartype: larger file, better rendering in Windows
 * - auto: even larger file, better rendering in Windows in Chrome with 
 *   font-smoothing disabled (the default in XP pre-servicepack 1)
 * - off: smaller files, render well on HiDPI displays
 */
$guss-webfonts-hinting: 'off';

/**
 * Kerning
 *
 * - on: larger file, better rendering
 * - off: smaller files
 */
$guss-webfonts-kerning: 'on';

/**
 * Version
 *
 * Version of the fonts to use
 */
$guss-webfonts-version: '0.1.0';


@import '../../bower_components/guss-webfonts/src/_webfonts';

// Outputs @font-face rules for all the fonts licensed
// to the Guardian for the web
@include guss-webfonts();

/* GUSS WEBFONTS END */



/* 
 *
 * VIDEO WALL STYLING 
 *
 */

/* Variables */
$font-sans-serif: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$font-serif: "Guardian Text Egyptian Web",Georgia,serif;

$color-bg: black;
$color-text: #999;
$color-title: white;
$color-link: #dcdcdc;
$color-text-highlight: #fb0;
$color-border: rgba(255,255,255,0.25);
$color-overlay: rgba(0,0,0, 0.5);
$color-overlay-active: rgba(0,0,0,0.25);
$color-video-bg: #333;

$border-divider: 1px dotted $color-border;

/* Mixins */
@mixin aspect-ratio($width, $height) {
	position: relative;
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
}

/* General */
body {
	background: $color-bg;
	color: $color-text;
	font-family: $font-serif;
	margin: 0;
	padding: 0;

	header#header {
		z-index: 1;
	}

	figure.element.element-interactive.interactive {
		margin: 0;
		padding: 0;
		margin-top: -48px;
	}
}

.vw-interactive {
	a {
		text-decoration: underline;
		color: $color-link;

		&:focus,
		&:hover {
			text-decoration: underline;
			color: $color-title;
		}
	}

	hr {
		margin: 2rem 0 0;
		padding: 0.75rem 0 0;
		border: 0;
		border-top: $border-divider;
		max-width: 5rem;
	}

	figure {
		margin: 0;
		padding: 0;
	}
}

.vw-icon {
	path,
	polygon {
		fill: $color-text;
		color: $color-text;
	}

	&-xs {
		max-width: 0.75rem;
		max-height: 0.75rem;
	}

	&-sm {
		max-width: 1.2rem;
		max-height: 1.2rem;
	}

	&-md {
		max-width: 1.8rem;
		max-height: 1.8rem;
	}

	&-lg {
		max-width: 2.4rem;
		max-height: 2.4rem;
	}

	&-inline {
		margin-top: -0.2rem;
		display: inline-block;
		vertical-align: middle;
	}
}

.vw-list {
	&-unstyled {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			margin: 0;
			padding: 0;
		}
	}

	&-inline {
		> li {
			margin: 0;
			padding: 0;
			display: inline-block;
		}		
	}
}

.vw-social-sharing {
	overflow: hidden;

	> li.vw-social-sharing-item {
		margin-right: 0.5rem;
		float: left;
		display: block;
		overflow: hidden;
		position: relative;
		min-width: 2.4rem;
		
		a {
			display: block;
			overflow: hidden;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			border: 1px solid $color-border;
			width: 2.4rem;
			height: 2.4rem;
		}
	}
}

/* Structure */
.vw-container {
	position: relative;
	margin: 0 auto;

	@media (max-width: 739px) {

	}

	@media (min-width: 740px) and (max-width: 979px) {
		max-width: 46.25rem;
	}

	@media (min-width: 980px) and (max-width: 1139px) {
		max-width: 61.25rem;
	}

	@media (min-width: 1140px) and (max-width: 1299px) {
		max-width: 71.25rem;
	}

	@media (min-width: 1300px) {
		max-width: 81.25rem;
	}

	&-fluid {
		width: 100%;
		position: relative;
	}

	&-constrained {
		margin: 0 12rem;
		position: relative;

		@media (max-width: 739px) {
			margin: 0 1rem;
		}

		@media (min-width: 740px) and (max-width: 979px) {
			margin: 0 2rem;
		}

		@media (min-width: 980px) and (max-width: 1139px) {
			margin: 0 6rem;
		}
	}

	&-left {
		float: left;
		width: 50%;
	}

	&-right {
		float: left;
		width: 50%;
	}
}

/* Header */
.vw-header {
	&-banner {
		position: relative;
		
		&-media {
			height: 100vh;
			position: relative;
			z-index: 0;

			img {
				object-fit: cover;
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}

		&-body {
			position: absolute;
			bottom: 0;
			width: 100%;
			z-index: 1;
			padding: 2rem 0 0;
			background-color: rgba(0,0,0,0.6);
			background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to($color-bg));
			background: -webkit-linear-gradient(rgba(0,0,0,0.5), $color-bg);
			background: linear-gradient(rgba(0,0,0,0.5), $color-bg);

			&-hub {
				margin: 0;
				padding: 0;
				font-size: 1rem;
				line-height: 1.25rem;
				font-weight: 200;

				a {
					font-weight: 900;
					color: $color-text-highlight;
					text-decoration: none;
				}
			}

			&-title {
				margin: 0;
				font-size: 2.25rem;
				line-height: 2.5rem;
				font-weight: 200;
				padding: 0.6rem 0 2rem;
				border-bottom: $border-divider;
				color: $color-title;

				.vw-icon {
					path,
					polygon {
						fill: $color-text-highlight;
						color: $color-text-highlight;
					}
				}
			}
		}
	}

	&-social {
		padding: 1rem 0 1.6rem;
		min-height: 3rem;

		&-count {
			width: 6rem;
			position: absolute;
			right: 0;
			top: 0;

			small {
				font-family: $font-sans-serif;
				white-space: nowrap;
			}

			p {
				margin: 0;
				padding: 0;
				font-size: 1.125rem;
				font-weight: 500;
				color: $color-title;
			}
		}
	}

	&-standfirst {
		p {
			margin-top: 0;
			margin-right: 14rem;

			@media (max-width: 739px) {
				margin-right: 0;
			}
		}

		&-supporter {
			position: absolute;
			right: 0;
			top: 0;
			width: 6rem;

			small {
				font-family: $font-sans-serif;
				font-size: 0.7rem;
			}

			&-media {
				margin: 0.6rem 0;

				img {
					width: 100%;
					display: block;
				}
			}
		}

		&-footer {
			@media (max-width: 739px) {
				overflow: hidden;
				position: relative;
				border-top: $border-divider;
				padding: 1.5rem 0 0;
				margin: 2.5rem 0 0 ;

				hr {
					display: none;
				}

				p {
					display: block;
					max-width: 50%;
					float: left;
				}

				.vw-header-standfirst-supporter {
					position: relative;
					float: right;
					margin-top: -0.5rem;
				}
			}
		}
	}
}

/* Video Tiles */

.vw-video-tiles {
	overflow: hidden;
	margin: 5rem 2rem;

	@media (max-width: 739px) {
		margin: 5rem 1rem;
	}

	&-item {
		float: left;
		position: relative;
		width: 33.33333%;
		@include aspect-ratio(16, 9);

		&-inner {
			background: $color-video-bg;
			display: block;
			overflow: hidden;
			position: absolute;
			top: 1rem;
			left: 1rem;
			right: 1rem;
			bottom: 1rem;
		}

		&:before {
			border-right: $border-divider;
		}

		&:after {
			content: "";
			display: block;
			/*position: absolute;
			bottom: 0;*/
			width: 100%;
			height: 0;
			border-top: $border-divider;
		}

		&-media {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			z-index: 0;

			img {
				object-fit: cover;
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}

		&-body {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			z-index: 1;
			text-align: center;
			background: $color-overlay;
			transition: background 0.2s ease-in;
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: all 0.2s ease-in;

			h2 {
				margin: 0;
				transform: translateY(0px);
				transition: all 0.2s ease-in;
				font-size: 90%;
			}

			&-hover {
				height: 0px;
				transform: translateY(20px);
				opacity: 0;
				transition: all 0.2s ease-in;
			}
		}

		&:hover {
			.vw-video-tiles-item-body {
				background: $color-overlay-active;

				h2 {
					transform: translateY(-60px);
				}

				&-hover {
					opacity: 1;
					transform: translateY(-40px);
				}
			}
		}

		@media (max-width: 739px) {
			width: 100%;
		}

		@media (min-width: 740px) and (max-width: 979px) {
			width: 50%;
		}
	}

	&-inner {
		margin: 0 -1rem;

		@media (max-width: 739px) {
			> div {
				.inner {
					left: 0;
					right: 0;
				}
			}

			> div:first-of-type {
				.inner {
					top: 0;
				}
			}

			> div:last-of-type {
				.inner {
					bottom: 0;
				}
			}
		}

		@media (min-width: 740px) and (max-width: 979px) {
			> div:nth-child(1),
			> div:nth-child(2) {
				.inner {
					top: 0;
				}
			}

			> div:nth-last-child(1),
			> div:nth-last-child(2) {
				.inner {
					bottom: 0;
				}

				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 0;
					border: 0;
				}
			}
		}

		@media (min-width: 980px) {
			> div:nth-child(1),
			> div:nth-child(2),
			> div:nth-child(3) {
				.inner {
					top: 0;
				}
			}

			> div:nth-last-child(1),
			> div:nth-last-child(2),
			> div:nth-last-child(3) {
				.inner {
					bottom: 0;
				}

				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 0;
					border: 0;
				}
			}

			> div:last-of-type {
				&:before {
					border-right: 0;
				}
			}
		}
	}


	&.vw-video-tiles-featured {
		div.vw-video-tiles-item {
			&:first-of-type {
				width: 66.66667%;

				&:before {
					padding-bottom: 1.03rem;
				}

				@media (max-width: 979px) {
					width: 100%;
				}

				.vw-video-tiles-item-body {
					h2 {
						font-size: 150%;
					}
				}
			}

			&:nth-child(3) {
				.inner {
					top: 1rem;
				}

				&:before {
					padding-bottom: 1rem;
				}
			}
		}

		@media (min-width: 740px) and (max-width: 979px) {
			div.vw-video-tiles-item:nth-child(2) {
				.inner {
					top: 1rem;
				}

				&:before {
					padding-bottom: 1rem;
				}
			}
		}
	}
}

.vw-video {
	&-button-play {
		width: 4rem;
		height: 4rem;
		font-size: 0.5625rem;
		position: relative;
		margin: 0 auto;

		&:before {
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			width: 4rem;
			height: 4rem;
			font-size: 0.5625rem;
			content: '';
			display: block;
			background-color: $color-text-highlight;
		}

		&:after {
			content: '';
			position: absolute;
			left: 1.4rem;
			top: 1.4rem;
			border-style: solid;
			border-width: 1.2em 0 1.2em 3em;
			border-color: transparent transparent transparent $color-bg;
			-moz-transform: scale(0.99999);
		}
	}

	&-duration {
		margin-top: 1rem;
		font-size: 1.125rem;
		font-weight: 500;
		color: $color-title;
	}
}

/* Footer */
.vw-footer {
	padding-bottom: 5rem;

	&-title {
		position: absolute;
		top: 1rem;
		left: -10rem;
		width: 9rem;
		margin-top: 0;
		color: $color-title;

		@media (max-width: 739px) {
			max-width: 75%;
		}

		@media (max-width: 1139px) {
			position: static;
			margin-top: 1rem;
			width: auto;
		}
	}

	&-branding {
		padding-top: 2rem;
		
		p {
			margin: 0;
			font-family: $font-sans-serif;
			font-size: 90%;
		}

		&-logo {
			max-width: 12rem;
			float: right;

			@media (max-width: 739px) {
				float: none;
				margin: 1rem 0 2rem;
			}

			path {
				fill: $color-title;
			}
		}
	}

	@media (max-width: 739px) {
		.vw-container-left,
		.vw-container-right {
			width: 100%;
		}
	}
}

/* Article Tiles */
.vw-article-tiles {
	overflow: hidden;
	border-top: $border-divider;
	border-bottom: $border-divider;
	padding: 1rem 0;

	&-item {
		width: 25%;
		float: left;
		display: flex;
		position: relative;

		&-inner {
			margin: 0 0.5rem;
			text-decoration: none;
			display: block;
			background: $color-video-bg;
			border-top: 1px solid $color-text-highlight;
			flex-grow: 1;
		}

		> a {
			text-decoration: none;
		}

		&:before {
			content: '';
			border-right: $border-divider;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}

		&-media {
			overflow: hidden;
			z-index: 0;
			@include aspect-ratio(16, 9);

			img {
				object-fit: cover;
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}

		&-body {
			padding: 0.25rem 0.25rem 1rem;

			h3 {
				margin: 0 0 0.25rem;
				font-size: 90%;
			}
		}

		@media (max-width: 739px) {
			width: 50%;

			&-inner {
				margin: 0.5rem;
			}
		}
	}

	&-inner {
		margin: 0 -0.5rem;
		display: flex;
		flex-wrap: wrap;

		> div.vw-article-tiles-item {
			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 0;
				border-top: $border-divider;
				left: 0;
    			right: 0;
			}

			&:first-of-type,
			&:nth-child(2) {
				.vw-article-tiles-item-inner {
					margin-top: 0;
				}
			}

			&:last-of-type,
			&:nth-last-child(2) {
				.vw-article-tiles-item-inner {
					margin-bottom: 0;
				}

				&:after {
					display: none;
				}
			}
		}
	}
}

/* Modal */

.vw-modal {
	display: none;
}

/* Breakpoints */

@media (max-width: 739px) {

}

@media (min-width: 740px) {

}

@media (min-width: 740px) and (max-width: 979px) {

}

@media (min-width: 980px) and (max-width: 1139px) {

}

@media (min-width: 1140px) and (max-width: 1299px) {

}

@media (min-width: 1300px) {
	
}