.svg .vjs-volume-menu-button.vjs-vol-0>.vjs-control-text:hover:before,
.svg #ima-mute-div.ima-muted:hover,
.i-volume-mute--tone-media {
    background-position: -1.1875rem -0;
    width: 1.0625rem;
    height: 0.8125rem
}
.i-volume-mute--tone-podcast {
    background-position: -2.3125rem -0;
    width: 1.0625rem;
    height: 0.8125rem
}
.svg .vjs-volume-menu-button.vjs-vol-0>.vjs-control-text:before,
.svg #ima-mute-div.ima-muted,
.i-volume-mute-white {
    background-position: -3.4375rem -0;
    width: 1.0625rem;
    height: 0.8125rem
}
.i-volume-low-black {
    background-position: -4.5625rem -0;
    width: 0;
    height: 0
}
.i-expand--black {
    background-position: -4.625rem -0;
    width: 0;
    height: 0
}
.svg .vjs-volume-menu-button.vjs-vol-3>.vjs-control-text:hover:before,
.svg #ima-mute-div.ima-non-muted:hover,
.i-volume-high--tone-media {
    background-position: -4.6875rem -0;
    width: 1rem;
    height: 0.8125rem
}
.i-volume-high--tone-podcast {
    background-position: -5.75rem -0;
    width: 1rem;
    height: 0.8125rem
}
.i-volume-high-black {
    background-position: -6.8125rem -0;
    width: 1rem;
    height: 0.8125rem
}
.svg .vjs-volume-menu-button.vjs-vol-3>.vjs-control-text:before,
.svg #ima-mute-div.ima-non-muted,
.i-volume-high-white {
    background-position: -7.875rem -0;
    width: 1rem;
    height: 0.8125rem
}
.svg .vjs-volume-menu-button>.vjs-control-text:hover:before,
.i-volume-low--tone-media {
    background-position: -8.9375rem -0;
    width: 0.75rem;
    height: 0.8125rem
}
.i-volume-low--tone-podcast {
    background-position: -9.75rem -0;
    width: 0.75rem;
    height: 0.8125rem
}
.svg .vjs-volume-menu-button>.vjs-control-text:before,
.i-volume-low-white {
    background-position: -10.5625rem -0;
    width: 0.75rem;
    height: 0.8125rem
}
.i-embed--black {
    background-position: -11.375rem -0;
    width: 1.5625rem;
    height: 0.875rem
}
.svg .vjs-embed-button:hover .vjs-control-content::before,
.i-embed--tone-media {
    background-position: -13rem -0;
    width: 1.5625rem;
    height: 0.875rem
}
.svg .vjs-embed-button .vjs-control-content:before,
.i-embed--white {
    background-position: -14.625rem -0;
    width: 1.5625rem;
    height: 0.875rem
}
.i-expand-black {
    background-position: -16.25rem -0;
    width: 1.375rem;
    height: 1.375rem
}
.svg .vjs-fullscreen-control .vjs-control-text:before,
.svg #ima-fullscreen-div,
.i-expand-white {
    background-position: -17.6875rem -0;
    width: 1.375rem;
    height: 1.375rem
}
.svg .vjs-fullscreen-control .vjs-control-text:hover:before,
.svg #ima-fullscreen-div:hover,
.i-expand-yellow {
    background-position: -19.125rem -0;
    width: 1.375rem;
    height: 1.375rem
}
.svg .vjs-overlay--big-title .vjs-overlay__title:before,
.i-video-camera--tone-media {
    background-position: -20.5625rem -0;
    width: 2.25rem;
    height: 1.4375rem
}
.i-video-camera--tone-podcast {
    background-position: -22.875rem -0;
    width: 2.25rem;
    height: 1.4375rem
}
.svg .vjs-error-display__close,
.svg .overlay--gallery .share-modal__close .i,
.i-close-icon-white-small {
    background-position: -25.1875rem -0;
    width: 1.875rem;
    height: 1.875rem
}
.svg .vjs-playing .vjs-play-control,
.svg #ima-play-pause-div.ima-playing,
.i-pause-32--tone-media {
    background-position: -27.125rem -0;
    width: 2rem;
    height: 2rem
}
.i-pause-32--tone-podcast {
    background-position: -29.1875rem -0;
    width: 2rem;
    height: 2rem
}
.svg .vjs-paused .vjs-play-control,
.svg #ima-play-pause-div.ima-paused,
.svg .creative--hosted-video .play-button,
.svg .creative--hosted-thrasher .hosted-thrasher__play-button,
.i-play-32--tone-media {
    background-position: -31.25rem -0;
    width: 2rem;
    height: 2rem
}
.i-play-32--tone-podcast {
    background-position: -33.3125rem -0;
    width: 2rem;
    height: 2rem
}
.svg .vjs-error-display>div:before,
.i-error-exclamation {
    background-position: -0 -2.0625rem;
    width: 2.25rem;
    height: 2.25rem
}
.svg .i-camera-black-large,
.svg-i-camera-black-large {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTE4IDMuNXY4TDE2LjUgMTNoLTE1TDAgMTEuNXYtOEwxLjUgMkg1bDItMmg0bDIgMmgzLjVMMTggMy41ek05IDExYzEuOSAwIDMuNS0xLjYgMy41LTMuNVMxMC45IDQgOSA0IDUuNSA1LjYgNS41IDcuNSA3LjEgMTEgOSAxMXoiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-volume-mute--tone-media,
.svg .vjs-volume-menu-button.vjs-vol-0>.vjs-control-text:hover:before,
.svg #ima-mute-div.ima-muted:hover,
.svg-i-volume-mute--tone-media {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2ZiMCIgZD0iTTEgNEwwIDV2M2wxIDFoMmw0IDRoMVYwSDdMMyA0SDF6bTE2LS40bC0uNi0uNi0yLjkgMi42TDEwLjYgM2wtLjYuNiAyLjYgMi45TDEwIDkuNGwuNi42IDIuOS0yLjYgMi45IDIuNi42LS42LTIuNi0yLjlMMTcgMy42eiIvPjwvc3ZnPg==);
    background-position: 0 0
}
.svg .i-volume-mute--tone-podcast,
.svg-i-volume-mute--tone-podcast {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2FhZDhmMSIgZD0iTTEgNEwwIDV2M2wxIDFoMmw0IDRoMVYwSDdMMyA0SDF6bTE2LS40bC0uNi0uNi0yLjkgMi42TDEwLjYgM2wtLjYuNiAyLjYgMi45TDEwIDkuNGwuNi42IDIuOS0yLjYgMi45IDIuNi42LS42LTIuNi0yLjlMMTcgMy42eiIvPjwvc3ZnPg==);
    background-position: 0 0
}
.svg .i-volume-mute-white,
.svg .vjs-volume-menu-button.vjs-vol-0>.vjs-control-text:before,
.svg #ima-mute-div.ima-muted,
.svg-i-volume-mute-white {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEgNEwwIDV2M2wxIDFoMmw0IDRoMVYwSDdMMyA0SDF6bTE2LS40bC0uNi0uNi0yLjkgMi42TDEwLjYgM2wtLjYuNiAyLjYgMi45TDEwIDkuNGwuNi42IDIuOS0yLjYgMi45IDIuNi42LS42LTIuNi0yLjlMMTcgMy42eiIvPjwvc3ZnPg==);
    background-position: 0 0
}
.svg .i-volume-low-black,
.svg-i-volume-low-black {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDUgMjA1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMDUgMjA1Ij48cGF0aCBmaWxsPSIjMzMzIiBkPSJNOTkgMjMuM3YxNThoLTguN2wtNDcuNy00N2gtMzNsLTcuNi04Vjc4LjZsOC43LTguM2gzMmw0Ny00N2g4LjdtNTIgNzlsLTI5LjktMzQgNi40LTYuNCAzMy43IDMwIDM0LTMwIDYuNCA2LjQtMzAgMzQgMzAgMzMuNy02LjQgNi40LTM0LTI5LjktMzMuNyAyOS45LTYuNC02LjQgMjkuOS0zMy43Ii8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-expand--black,
.svg-i-expand--black {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDUgMjA1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMDUgMjA1Ij48cGF0aCBmaWxsPSIjMzMzIiBkPSJNNzIuOCAxOTF2MTEuM2gtNjZMMi4xIDE5OHYtNjZoMTEuN2w1LjEgNDAuNiA1Mi01MiAxMi45IDEyLjktNTIgNTIgNDAuNiA1LjVtNTktMTc3VjIuN2g2Nmw0LjMgNC4zdjY2aC0xMS4zbC01LjUtNDEtNTIgNTItMTIuNS0xMi45IDUyLTUyLTQwLjYtNS4xIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-volume-high--tone-media,
.svg .vjs-volume-menu-button.vjs-vol-3>.vjs-control-text:hover:before,
.svg #ima-mute-div.ima-non-muted:hover,
.svg .items--audio .fc-item__title:before,
.svg-i-volume-high--tone-media {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2ZiMCIgZD0iTTMgNEgxTDAgNXYzbDEgMWgybDQgNGgxVjBIN0wzIDR6bTExLjcgMi41YzAgMi0uNyAzLjgtMS44IDUuMmwuNC40YzEuNi0xLjMgMi42LTMuMyAyLjYtNS42cy0xLTQuMy0yLjYtNS42bC0uNC40YzEuMiAxLjUgMS44IDMuMyAxLjggNS4ybS0zLjcgMGMwIDEuMS0uMyAyLjItLjkgMy4xbC41LjVjLjgtMSAxLjQtMi4yIDEuNC0zLjZzLS42LTIuNi0xLjUtMy41bC0uNS41Yy42LjggMSAxLjkgMSAzIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-volume-high--tone-podcast,
.svg-i-volume-high--tone-podcast {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2FhZDhmMSIgZD0iTTMgNEgxTDAgNXYzbDEgMWgybDQgNGgxVjBIN0wzIDR6bTExLjcgMi41YzAgMi0uNyAzLjgtMS44IDUuMmwuNC40YzEuNi0xLjMgMi42LTMuMyAyLjYtNS42cy0xLTQuMy0yLjYtNS42bC0uNC40YzEuMiAxLjUgMS44IDMuMyAxLjggNS4ybS0zLjcgMGMwIDEuMS0uMyAyLjItLjkgMy4xbC41LjVjLjgtMSAxLjQtMi4yIDEuNC0zLjZzLS42LTIuNi0xLjUtMy41bC0uNS41Yy42LjggMSAxLjkgMSAzIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-volume-high-black,
.svg-i-volume-high-black {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTMgNEgxTDAgNXYzbDEgMWgybDQgNGgxVjBIN0wzIDR6bTExLjcgMi41YzAgMi0uNyAzLjgtMS44IDUuMmwuNC40YzEuNi0xLjMgMi42LTMuMyAyLjYtNS42cy0xLTQuMy0yLjYtNS42bC0uNC40YzEuMiAxLjUgMS44IDMuMyAxLjggNS4ybS0zLjcgMGMwIDEuMS0uMyAyLjItLjkgMy4xbC41LjVjLjgtMSAxLjQtMi4yIDEuNC0zLjZzLS42LTIuNi0xLjUtMy41bC0uNS41Yy42LjggMSAxLjkgMSAzIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-volume-high-white,
.svg .vjs-volume-menu-button.vjs-vol-3>.vjs-control-text:before,
.svg #ima-mute-div.ima-non-muted,
.pseudo-icon--audio--white:before,
.svg-i-volume-high-white {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTMgNEgxTDAgNXYzbDEgMWgybDQgNGgxVjBIN0wzIDR6bTExLjcgMi41YzAgMi0uNyAzLjgtMS44IDUuMmwuNC40YzEuNi0xLjMgMi42LTMuMyAyLjYtNS42cy0xLTQuMy0yLjYtNS42bC0uNC40YzEuMiAxLjUgMS44IDMuMyAxLjggNS4ybS0zLjcgMGMwIDEuMS0uMyAyLjItLjkgMy4xbC41LjVjLjgtMSAxLjQtMi4yIDEuNC0zLjZzLS42LTIuNi0xLjUtMy41bC0uNS41Yy42LjggMSAxLjkgMSAzIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-volume-low--tone-media,
.svg .vjs-volume-menu-button>.vjs-control-text:hover:before,
.svg-i-volume-low--tone-media {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2ZiMCIgZD0iTTMgNEgxTDAgNXYzbDEgMWgybDQgNGgxVjBIN0wzIDR6bTggMi41YzAgMS4xLS4zIDIuMi0uOSAzLjFsLjUuNWMuOC0xIDEuNC0yLjIgMS40LTMuNnMtLjYtMi42LTEuNS0zLjVsLS41LjVjLjYuOCAxIDEuOSAxIDMiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-volume-low--tone-podcast,
.svg-i-volume-low--tone-podcast {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2FhZDhmMSIgZD0iTTMgNEgxTDAgNXYzbDEgMWgybDQgNGgxVjBIN0wzIDR6bTggMi41YzAgMS4xLS4zIDIuMi0uOSAzLjFsLjUuNWMuOC0xIDEuNC0yLjIgMS40LTMuNnMtLjYtMi42LTEuNS0zLjVsLS41LjVjLjYuOCAxIDEuOSAxIDMiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-volume-low-white,
.svg .vjs-volume-menu-button>.vjs-control-text:before,
.svg-i-volume-low-white {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTMgNEgxTDAgNXYzbDEgMWgybDQgNGgxVjBIN0wzIDR6bTggMi41YzAgMS4xLS4zIDIuMi0uOSAzLjFsLjUuNWMuOC0xIDEuNC0yLjIgMS40LTMuNnMtLjYtMi42LTEuNS0zLjVsLS41LjVjLjYuOCAxIDEuOSAxIDMiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-embed--black,
.svg-i-embed--black {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyNSAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy4xIDEwLjJWOC40TDIuOCA2LjcgNy4xIDVWMy4yTC44IDZ2MS41bDYuMyAyLjhNOS42IDE0aDEuN0wxNS4xLjRoLTEuN0w5LjYgMTRtOC40LTMuN2w2LjMtMi44VjZMMTggMy4yVjVsNC4zIDEuN0wxOCA4LjR2MS44IiBmaWxsPSIjMzMzIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-embed--tone-media,
.svg .vjs-embed-button:hover .vjs-control-content::before,
.svg-i-embed--tone-media {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyNSAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy4xMiAxMC4yNFY4LjQzMkwyLjgxNiA2LjcwNCA3LjEyIDQuOTkyVjMuMTY4TC44IDUuOTUydjEuNTA0bDYuMzIgMi43ODR6bTIuNDc2IDMuNjhoMS43NDRMMTUuMTguMjcyaC0xLjc0NEw5LjU5NiAxMy45MnptOC4zNjQtMy42OGw2LjMyLTIuNzg0VjUuOTUybC02LjMyLTIuNzg0djEuODI0bDQuMzA0IDEuNzI4LTQuMzA0IDEuNzEydjEuODA4eiIgZmlsbD0iI2ZiMCIvPjwvc3ZnPg==);
    background-position: 0 0
}
.svg .i-embed--white,
.svg .vjs-embed-button .vjs-control-content:before,
.svg-i-embed--white {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyNSAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy4xMiAxMC4yNFY4LjQzMkwyLjgxNiA2LjcwNCA3LjEyIDQuOTkyVjMuMTY4TC44IDUuOTUydjEuNTA0bDYuMzIgMi43ODR6bTIuNDc2IDMuNjhoMS43NDRMMTUuMTguMjcyaC0xLjc0NEw5LjU5NiAxMy45MnptOC4zNjQtMy42OGw2LjMyLTIuNzg0VjUuOTUybC02LjMyLTIuNzg0djEuODI0bDQuMzA0IDEuNzI4LTQuMzA0IDEuNzEydjEuODA4eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
    background-position: 0 0
}
.svg .i-expand-black,
.svg-i-expand-black {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTMuNCAyMC4yTDkgMTQuNSA3LjUgMTNsLTUuNyA1LjZMMSAxNEgwdjcuNWwuNS41SDh2LTFsLTQuNi0uOE0xOC43IDEuOUwxMyA3LjYgMTQuNCA5bDUuNy01LjcuNSA0LjdoMS4yVi42bC0uNS0uNUgxNHYxLjJsNC43LjYiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-expand-white,
.svg .vjs-fullscreen-control .vjs-control-text:before,
.svg #ima-fullscreen-div,
.svg-i-expand-white {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTMuNCAyMC4yTDkgMTQuNSA3LjUgMTNsLTUuNyA1LjZMMSAxNEgwdjcuNWwuNS41SDh2LTFsLTQuNi0uOE0xOC43IDEuOUwxMyA3LjYgMTQuNCA5bDUuNy01LjcuNSA0LjdoMS4yVi42bC0uNS0uNUgxNHYxLjJsNC43LjYiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-expand-yellow,
.svg .vjs-fullscreen-control .vjs-control-text:hover:before,
.svg #ima-fullscreen-div:hover,
.svg-i-expand-yellow {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiI+PHBhdGggZmlsbD0iI2ZiMCIgZD0iTTMuNCAyMC4yTDkgMTQuNSA3LjUgMTNsLTUuNyA1LjZMMSAxNEgwdjcuNWwuNS41SDh2LTFsLTQuNi0uOE0xOC43IDEuOUwxMyA3LjYgMTQuNCA5bDUuNy01LjcuNSA0LjdoMS4yVi42bC0uNS0uNUgxNHYxLjJsNC43LjYiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-video-camera--tone-media,
.svg .vjs-overlay--big-title .vjs-overlay__title:before,
.svg-i-video-camera--tone-media {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIyMyI+PHBhdGggZmlsbD0iI2ZiMCIgZD0iTTMgMEwwIDN2MTdsMyAzaDE5VjBIM20yMiA5djVsOSA4aDJWMWgtMmwtOSA4eiIvPjwvc3ZnPg==);
    background-position: 0 0
}
.svg .i-video-camera--tone-podcast,
.svg-i-video-camera--tone-podcast {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIyMyI+PHBhdGggZmlsbD0iI2FhZDhmMSIgZD0iTTMgMEwwIDN2MTdsMyAzaDE5VjBIM20yMiA5djVsOSA4aDJWMWgtMmwtOSA4eiIvPjwvc3ZnPg==);
    background-position: 0 0
}
.svg .i-close-icon-white-small,
.svg .vjs-error-display__close,
.svg .overlay--gallery .share-modal__close .i,
.svg-i-close-icon-white-small {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTIxIDkuOGwtLjgtLjgtNS4yIDQuOEw5LjggOWwtLjguOCA0LjggNS4yTDkgMjAuMmwuOC44IDUuMi00LjggNS4yIDQuOC44LS44LTQuOC01LjJMMjEgOS44Ii8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-pause-32--tone-media,
.svg .vjs-playing .vjs-play-control,
.svg #ima-play-pause-div.ima-playing,
.svg-i-pause-32--tone-media {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PGNpcmNsZSBmaWxsPSIjZmIwIiBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiLz48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMTQgMjJoLTNWMTEuMWwxLTEuMWgydjEybTQtMTJoM3YxMC45TDIwIDIyaC0yVjEwIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-pause-32--tone-podcast,
.svg-i-pause-32--tone-podcast {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PGNpcmNsZSBmaWxsPSIjYWFkOGYxIiBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiLz48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMTQgMjJoLTNWMTEuMWwxLTEuMWgydjEybTQtMTJoM3YxMC45TDIwIDIyaC0yVjEwIi8+PC9zdmc+);
    background-position: 0 0
}
.svg .i-play-32--tone-media,
.svg .vjs-paused .vjs-play-control,
.svg #ima-play-pause-div.ima-paused,
.svg .creative--hosted-video .play-button,
.svg .creative--hosted-thrasher .hosted-thrasher__play-button,
.svg-i-play-32--tone-media {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PGNpcmNsZSBmaWxsPSIjZmIwIiBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiLz48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMjMgMTUuNjdMMTIgMTFsLS45OS4zdjkuMjU3bDEgLjMgMTEtNC42N3YtLjUiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-play-32--tone-podcast,
.svg-i-play-32--tone-podcast {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PGNpcmNsZSBmaWxsPSIjYWFkOGYxIiBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiLz48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMjMgMTUuNjdMMTIgMTFsLS45OS4zdjkuMjU3bDEgLjMgMTEtNC42N3YtLjUiLz48L3N2Zz4=);
    background-position: 0 0
}
.svg .i-error-exclamation,
.svg .vjs-error-display>div:before,
.svg-i-error-exclamation {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzYgMzYiIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIj48Y2lyY2xlIGZpbGw9IiNmZmYiIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIvPjxwYXRoIGQ9Ik0xNC43MjcgNS43MjdsMS42MzYtMS42MzZoMy4yNzNsMS42MzYgMS42MzctMS42MzYgMTUuNTQ1aC0zLjI3M0wxNC43MjcgNS43MjdtNi41NDUgMjIuMDljMC0xLjgtMS40NzMtMy4yNzMtMy4yNzMtMy4yNzNzLTMuMjc0IDEuNDczLTMuMjc0IDMuMjczUzE2LjIgMzEuMDkgMTggMzEuMDlzMy4yNzItMS40NzMgMy4yNzItMy4yNzMiIGZpbGw9IiMzMzMiLz48L2c+PC9zdmc+);
    background-position: 0 0
}
.player {
    margin-bottom: 2.25rem;
    background: #000000;
    text-align: center
}
.gu-media-wrapper {
    background: #000000;
    -webkit-transform: translateZ(0)
}
.gu-media-wrapper--audio {
    background-color: #333;
    padding-top: 0.375rem
}
.gu-media-wrapper--audio .vjs-control-bar {
    background: transparent
}
.gu-media-wrapper--audio audio {
    width: 100%;
    height: 2.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent
}
.element-video {
    position: relative;
    overflow: hidden
}
.gu-video-embed-html {
    overflow-y: auto
}
.vjs-tech {
    cursor: pointer
}
.vjs-fullscreen .vjs-tech {
    cursor: none
}
.vjs-fullscreen.vjs-mousemoved .vjs-tech {
    cursor: pointer
}
.vjs.gu-media {
    width: auto !important
}
.vjs.gu-media--video {
    height: auto !important;
    cursor: pointer
}
.vjs.gu-media--video.vjs-user-inactive {
    cursor: none
}
.vjs.gu-media--audio {
    position: relative;
    height: 100% !important
}
.vjs-big-play-button {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    padding: 0;
    background-color: transparent
}
.vjs-has-started .vjs-big-play-button {
    padding-bottom: 3rem
}
.vjs-big-play-button:hover .vjs-control-text {
    -webkit-transform: translate(-50%, -50%) scale(1.15);
    transform: translate(-50%, -50%) scale(1.15)
}
.vjs-big-play-button .vjs-control-text {
    width: 3.125rem;
    height: 3.125rem;
    font-size: 0.5625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
@media all and (min-width: 30em) {
    .vjs-big-play-button .vjs-control-text {
        width: 4.375rem;
        height: 4.375rem;
        font-size: 0.75rem
    }
}
.vjs-big-play-button .vjs-control-text:before {
    -webkit-border-radius: 62.5rem;
    border-radius: 62.5rem;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 0.5625rem;
    content: '';
    display: block;
    background-color: #fb0
}
@media all and (min-width: 30em) {
    .vjs-big-play-button .vjs-control-text:before {
        width: 4.375rem;
        height: 4.375rem;
        font-size: 0.75rem
    }
}
.vjs-big-play-button .vjs-control-text:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
    border-style: solid;
    border-width: 1em 0 1em 2.4em;
    border-color: transparent transparent transparent #333
}
@media all and (min-width: 46.25em) {
    .vjs-big-play-button .vjs-control-text:after {
        -webkit-border-radius: .2em;
        border-radius: .2em
    }
}
.gu-media--audio .vjs-big-play-button,
.vjs-has-ended .vjs-big-play-button,
.vjs-ad-playing .vjs-big-play-button,
.vjs-playing .vjs-big-play-button,
.vjs-has-started.vjs-using-native-controls .vjs-big-play-button,
.vjs-ad-loading .vjs-big-play-button {
    display: none !important
}
.vjs-fullscreen-clickbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 3rem;
    position: absolute;
    z-index: 2
}
.vjs-using-native-controls .vjs-fullscreen-clickbox {
    display: none
}
.vjs-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.4375rem;
    margin-top: -0.9375rem;
    display: none
}
.vjs-waiting .vjs-loading-spinner,
.vjs-seeking .vjs-loading-spinner,
.vjs-ad-loading .vjs-loading-spinner {
    display: block !important
}
.vjs-using-native-controls .vjs-loading-spinner,
.vjs-paused .vjs-loading-spinner {
    display: none !important
}
.vjs-control-bar,
#ima-controls-div {
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    cursor: default;
    width: 100%;
    z-index: 4;
    left: 0;
    background-color: rgba(22, 22, 22, 0.8);
    color: #ffffff;
    font-weight: bold;
    height: 3rem;
    -webkit-transition: bottom .8s;
    transition: bottom .8s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}
.vjs-control-bar.vjs-hidden,
#ima-controls-div.vjs-hidden {
    display: none
}
.vjs-control-bar {
    position: relative
}
.gu-media--video .vjs-control-bar {
    position: absolute;
    bottom: -3.75rem
}
.vjs-fullscreen .vjs-control-bar {
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}
.gu-media-wrapper:hover .vjs-mousemoved .vjs-control-bar,
.vjs-paused.vjs-has-started .vjs-control-bar,
.vjs-control-bar:hover {
    bottom: 0;
    -webkit-transition: bottom 0s;
    transition: bottom 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}
.vjs-using-native-controls .vjs-control-bar {
    display: none
}
.vjs-control-bar * {
    outline: none
}
.vjs-control-text {
    overflow: hidden !important;
    display: inline-block
}
.vjs-load-progress .vjs-control-text,
.vjs-play-progress .vjs-control-text,
.vjs-play-control .vjs-control-text,
.vjs-time-control .vjs-control-text {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 0.0625rem !important;
    margin: -0.0625rem !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 0.0625rem !important
}
.vjs-poster {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0
}
.vjs-has-started .vjs-poster,
.vjs-controls-disabled .vjs-poster {
    display: none
}
.vjs-play-control,
#ima-play-pause-div {
    float: left;
    cursor: pointer;
    margin: 0.4375rem;
    border: 0;
    padding: 0;
    background-color: transparent
}
.svg .vjs-paused .vjs-play-control {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg .vjs-playing .vjs-play-control {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg #ima-play-pause-div.ima-paused {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg #ima-play-pause-div.ima-playing {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-current-time,
.vjs-time-divider,
.vjs-duration {
    float: left;
    line-height: 3rem
}
.vjs-time-divider {
    padding: 0 0.3125rem
}
.vjs-duration {
    color: #bdbdbd
}
.vjs-fullscreen-control {
    cursor: pointer;
    float: right;
    border: 0;
    padding: 0;
    background-color: transparent;
    margin: 0.75rem
}
.vjs-fullscreen-control .vjs-control-text {
    width: 1.25rem;
    height: 1.25rem
}
.vjs-fullscreen-control .vjs-control-text:before {
    content: '';
    width: 1.25rem;
    height: 1.25rem !important
}
.svg .vjs-fullscreen-control .vjs-control-text:before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg .vjs-fullscreen-control .vjs-control-text:before:hover {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.gu-media--audio .vjs-fullscreen-control {
    display: none
}
.vjs-progress-control {
    width: 100%;
    position: absolute;
    top: -0.5rem
}
.vjs-ad-playing .vjs-progress-control {
    display: none
}
.vjs-progress-holder {
    height: 0.75rem;
    cursor: pointer;
    position: relative
}
.vjs-progress-holder:before {
    content: '';
    display: block;
    width: 100%;
    background-color: #000000
}
.vjs-load-progress,
.vjs-play-progress,
.vjs-progress-holder:before,
.vjs-seek-handle {
    position: absolute;
    bottom: 0.25rem;
    height: 0.375rem
}
.vjs-load-progress {
    background-color: #999999;
    z-index: 1
}
.vjs-play-progress {
    background-color: #fb0;
    z-index: 2
}
.vjs-volume-menu-button {
    float: right;
    margin: 1rem 0.5rem 0;
    position: relative;
    height: 100%
}
.vjs-volume-menu-button>.vjs-menu {
    float: left;
    cursor: pointer
}
.vjs-volume-bar {
    height: 0.75rem;
    width: 6.25rem;
    position: relative;
    cursor: pointer
}
.vjs-volume-bar:before {
    content: '';
    left: 0;
    right: 0;
    background-color: #f1f1f1
}
.vjs-volume-bar:before,
.vjs-volume-level {
    height: 0.125rem;
    top: 0.375rem;
    position: absolute
}
.vjs-volume-level {
    background-color: #fb0
}
.vjs-volume-level:before {
    position: absolute;
    background-color: #fb0;
    height: 0.6875rem;
    width: 0.125rem;
    top: -0.25rem;
    right: 0;
    content: ''
}
.vjs-volume-menu-button>.vjs-control-text {
    float: left;
    margin-right: 0.416666875rem;
    width: 1.25rem;
    height: 1.125rem
}
.vjs-volume-menu-button>.vjs-control-text:before {
    content: '';
    min-width: 1.25rem
}
.svg .vjs-volume-menu-button>.vjs-control-text:before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg .vjs-volume-menu-button>.vjs-control-text:before:hover {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg .vjs-volume-menu-button.vjs-vol-0>.vjs-control-text:before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg .vjs-volume-menu-button.vjs-vol-0>.vjs-control-text:before:hover {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg .vjs-volume-menu-button.vjs-vol-3>.vjs-control-text:before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg .vjs-volume-menu-button.vjs-vol-3>.vjs-control-text:before:hover {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg #ima-mute-div.ima-non-muted {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg #ima-mute-div.ima-non-muted:hover {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg #ima-mute-div.ima-muted {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg #ima-mute-div.ima-muted:hover {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-error-display {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    z-index: 3
}
.gu-media--video.vjs-error .vjs-error-display,
.gu-media__flash-fallback .vjs-error-display {
    display: block
}
.gu-media__flash-fallback .vjs-error-display {
    background-color: #000000
}
.vjs-error-display>div {
    font-size: 1rem;
    line-height: 20px;
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: normal;
    position: absolute;
    display: table-cell;
    width: 100%;
    margin: auto;
    padding: 1.125rem 3.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1em;
    text-align: left;
    color: #ffffff;
    background-color: #333
}
.vjs-error-display>div:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 0.625rem;
    margin-top: -1.125rem
}
.svg .vjs-error-display>div:before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-error-display a {
    color: #ffffff;
    text-decoration: underline
}
.vjs-error-display__close {
    -webkit-border-radius: 62.5rem;
    border-radius: 62.5rem;
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    right: 0.625rem;
    text-indent: -624.9375rem;
    background: transparent;
    border: 0.0625rem solid rgba(255, 255, 255, 0.3)
}
.svg .vjs-error-display__close {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-error-display__close:hover {
    border-color: #ffffff
}
.vjs-overlay {
    position: absolute;
    width: 100%;
    color: #ffffff;
    background-color: #333
}
.vjs-overlay--big-title .vjs-overlay__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: normal;
    text-align: left;
    padding: 0.625rem
}
@media all and (min-width: 46.25em) {
    .vjs-overlay--big-title .vjs-overlay__title {
        font-size: 1.75rem;
        line-height: 2rem;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: normal
    }
}
@media all and (min-width: 61.25em) {
    .vjs-overlay--big-title .vjs-overlay__title {
        font-size: 2rem;
        line-height: 2.25rem;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: normal
    }
}
.vjs-overlay--big-title .vjs-overlay__title:before {
    content: '';
    margin-right: 0.625rem
}
.svg .vjs-overlay--big-title .vjs-overlay__title:before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-overlay--big-title .vjs-overlay__duration {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: normal;
    text-align: left;
    color: #fb0;
    padding: 0 0.625rem 1.5rem
}
.vjs-overlay--small-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: normal;
    text-align: left;
    position: absolute;
    height: 1.25rem;
    padding: 0.375rem;
    top: -2rem;
    left: 0;
    -webkit-transition: top .8s;
    transition: top .8s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}
.gu-media-wrapper:hover .vjs-overlay--small-title,
.vjs-paused .vjs-overlay--small-title {
    top: 0;
    -webkit-transition: top 0s;
    transition: top 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}
.vast-blocker {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 3
}
.vjs-playing .vast-blocker {
    display: block
}
.vast-skip-button {
    display: none
}
.vjs-embedoverlay {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20% 2.5rem 0;
    background-color: #333;
    z-index: 3
}
.vjs-embedoverlay-text {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: normal;
    display: block;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem
}
.vjs-embedoverlay-input {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    color: #333;
    padding: 0.25rem 0.625rem 0;
    border: 0.0625rem solid #bdbdbd;
    outline: none
}
.vjs-embedoverlay-input::-moz-selection {
    background: #cef1fc
}
.vjs-embedoverlay-input::selection {
    background: #cef1fc
}
.vjs-embed-button {
    cursor: pointer;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem;
    padding-right: 0.625rem;
    position: relative
}
@media all and (max-width: 61.24em) {
    .vjs-embed-button {
        display: none
    }
}
.vjs-embed-button .vjs-control-content:before {
    content: ' ';
    display: block;
    width: 1.25rem !important;
    height: 0.75rem !important;
    position: absolute;
    top: 0;
    left: -5rem;
    right: 0;
    bottom: 0;
    margin: auto
}
.svg .vjs-embed-button .vjs-control-content:before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-embed-button .vjs-control-text {
    padding-top: 1rem;
    display: block
}
.element--supporting .vjs-embed-button {
    display: none
}
.svg .vjs-embed-button:hover .vjs-control-content::before {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-embed-button:hover .vjs-control-text {
    color: #fb0
}
.vjs-title-bar {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: fixed;
    width: 100%;
    height: 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(25, 25, 25, 0.8);
    padding: 0.375rem 0.625rem;
    font-weight: bold;
    -webkit-transition: top .8s;
    transition: top .8s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    left: 0;
    top: -3rem;
    z-index: 4
}
.gu-media-wrapper:hover .vjs-mousemoved .vjs-title-bar,
.vjs-paused .vjs-title-bar,
.vjs-title-bar:hover {
    top: 0;
    -webkit-transition: top 0s;
    transition: top 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}
.vjs-title-bar .vjs-control-content {
    position: absolute;
    top: 0.25rem;
    right: 3rem
}
.vjs-title-bar .vjs-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #ffffff;
    display: inline-block;
    max-width: 90%
}
.vjs-title-bar .vjs-title:hover {
    color: #fb0
}
.vjs-title-bar svg {
    top: 0.1875rem;
    left: 0.4375rem;
    width: 2rem;
    height: 2rem;
    fill: #ffffff
}
.vjs-title-bar svg:hover {
    fill: #fb0
}
.vjs-ads-skip {
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: absolute;
    z-index: 4;
    bottom: 4.375rem;
    right: 0.5rem;
    width: 8.75rem;
    background-color: rgba(51, 51, 51, 0.8);
    color: #ffffff;
    text-align: left
}
@media all and (min-width: 46.25em) {
    .vjs-ads-skip {
        font-size: 0.8125rem;
        line-height: 1.125rem
    }
}
.vjs-ads-skip__countdown,
.vjs-ads-skip__button {
    display: block;
    padding: 0.375rem 0.625rem 0.1875rem
}
.vjs-ads-skip__button {
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: 0;
    text-align: left
}
.vjs-ads-skip__button .i-play-icon-grey {
    display: inline-block
}
.vjs-ads-skip__button .i-play-icon-gold {
    display: none
}
.vjs-ads-skip__button:hover {
    color: #ff9b0b
}
.vjs-ads-skip__button:hover .i-play-icon-grey {
    display: none
}
.vjs-ads-skip__button:hover .i-play-icon-gold {
    display: inline-block
}
.vjs-ads-skip__button .skip-icon {
    margin-right: 0.3125rem
}
.end-slate-container {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(25, 25, 25, 0.8);
    color: #f1f1f1;
    top: 3rem;
    padding-top: 0.3125rem;
    max-width: 33.75rem;
    cursor: initial
}
.vjs-has-ended .end-slate-container {
    display: block
}
.vjs-fullscreen .end-slate-container {
    margin: auto;
    bottom: 0;
    top: -3rem;
    height: 18rem;
    max-width: 61.25rem;
    padding-bottom: 0.75rem
}
@media all and (max-width: 46.24em) {
    .vjs-has-ended .end-slate-container {
        display: none
    }
}
@media all and (min-width: 81.25em) {
    .end-slate-container {
        max-width: 38.75rem
    }
}
.gu-video-embed .end-slate-container {
    top: 30%;
    max-width: 46.25rem
}
.gu-video-embed .end-slate-container .fc-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.625rem;
    width: 25%;
    float: left;
    list-style: none
}
.gu-video-embed .end-slate-container .fc-item:not(:first-child) {
    border-left: 0.0625rem solid #767676
}
.gu-video-embed .end-slate-container .fc-item .fc-item__action {
    color: #ffffff
}
.gu-video-embed .end-slate-container .fc-item .fc-item__action:hover {
    color: #fb0
}
.gu-video-embed .end-slate-container .fc-item .fc-item__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    overflow: hidden;
    max-height: 4.5rem;
    height: 4.5rem;
    margin-top: 0.375rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4
}
@media all and (max-width: 46.24em) {
    .gu-video-embed .end-slate-container {
        top: 3rem;
        border-top: 0.0625rem solid #767676
    }
}
@media all and (min-width: 46.25em) and (max-width: 61.24em) {
    .gu-video-embed .end-slate-container {
        top: 20%
    }
}
@media all and (min-width: 30em) {
    .gu-video-embed .vjs-has-ended .end-slate-container {
        display: block
    }
}
.end-slate-container__header {
    height: 2.25rem;
    padding-left: 0.625rem;
    margin-bottom: 0.75rem
}
.gu-video-embed .end-slate-container__header {
    margin-bottom: 0
}
.end-slate-container__heading {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: 900;
    padding-top: 0.25rem;
    font-weight: bold;
    text-align: left
}
.gu-video-embed .end-slate-container__heading {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}
.end-slate {
    margin-bottom: 1.5rem
}
.end-slate.items--media .item {
    width: 25%;
    margin-bottom: 0
}
.end-slate.items--media .item:nth-child(-n+3) {
    border-right: 0.0625rem solid #767676
}
@media all and (min-width: 61.25em) {
    .vjs-fullscreen .end-slate.items--media .item__headline {
        font-size: 1rem;
        line-height: 1.25rem;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: normal;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        max-height: 5rem;
        height: 5rem
    }
}
.podcast-meta {
    text-align: left;
    border-top: 0.0625rem solid #161616;
    margin-top: 0.375rem;
    padding: 0.375rem 0.625rem
}
.podcast-meta__item {
    margin-right: 1.25rem
}
@media all and (min-width: 41.25em) {
    .podcast-meta__item {
        display: inline-block
    }
}
.podcast-meta__item:last-child {
    margin-right: 0
}
.podcast-meta__item__link {
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #f1f1f1
}
.vjs-tech-flash .vjs-poster,
.vjs-tech-flash .vjs-big-play-button,
.vjs-tech-flash .vjs-fullscreen-clickbox,
.vjs-tech-flash .vast-blocker {
    display: none !important
}
#ima-ad-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3
}
#ima-controls-div {
    display: none;
    position: absolute;
    height: 4.375rem !important;
    bottom: -3.375rem
}
.vjs-mousemoved #ima-controls-div,
#ima-controls-div:hover {
    bottom: 0;
    -webkit-transition: bottom 0s;
    transition: bottom 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}
#ima-seek-bar-div {
    height: 0.375rem;
    width: 100% !important;
    background-color: #000000
}
#ima-progress-div {
    height: 100%;
    background-color: #fb0
}
#ima-play-pause-div,
#ima-mute-div,
#ima-fullscreen-div {
    display: block !important
}
#ima-mute-div {
    margin: 1.125rem 6.25rem 0 0.5rem;
    cursor: pointer;
    width: 1.0625rem !important;
    float: right
}
#ima-fullscreen-div {
    cursor: pointer;
    float: right;
    margin: 0.875rem;
    width: 1.25rem !important;
    height: 1.25rem !important
}
.svg #ima-fullscreen-div {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.svg #ima-fullscreen-div:hover {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.vjs-modal-dialog-description {
    display: none
}
.gu-media--show-controls-at-start.vjs-paused .vjs-control-bar {
    bottom: 0
}
.gu-media--show-controls-at-start.vjs-paused .vjs-big-play-button .vjs-control-text:before {
    background-color: #fb0
}
.gu-media--show-controls-at-start.vjs-paused .vjs-big-play-button .vjs-control-text:after {
    border-left-color: #333333
}